body {
    background-color: rgb(142, 142, 160);
  }
  #text-input {
    width: 300px;
    padding: 10px;
  }
  #submit-button {
    margin-top: 10px;
  }
  #record-button {
    margin-top: 10px;
  }

  .navbar{
    background-color: #121212;

  }

  .speakBox{

    background-color: black;
    width: 50vw;
    height: 50vh;
    color: white;
    position: relative;
    font-family: monospace;
    font-size: 18px;
  }

  .speakBox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Cursor Animation */
.speakBox::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 24px;
    background-color: lightgreen;
    box-shadow: 0 0 4px lightgreen;
    animation: cursorBlink 1s infinite;
}

@keyframes cursorBlink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

  /* #recognized-text {
    margin-top: 20px;
    font-weight: bold;
    width: 50vw;
    height: 50vh;
    background-color: white;
  } */