<!DOCTYPE html>
<html>
  <head>
    <title>My Website</title>
  </head>
  <body>
    <h1><%= pageTitle %></h1>
    <b>hello there! welcome to body!</b>
    <!-- Other HTML content -->
  </body>
</html>
